:root {
  --main-color-bright: #9bedea;
  --main-color: #67dcd8;
  --main-color-dark: #41cac5;
  --secondary-color-dark: #318cb4;
  --secondary-color: #50abd3;
  --secondary-color-bright: #dbf2fc;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  margin: 0;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}
