@import "../taglist/taglist.css";
@import "../button/button.css";

.card {
  width: 20em;
  border: 3px solid var(--secondary-color-dark);
  border-radius: 1em;
  padding: 1em;
  position: relative;
  background-color: white;
}

.card__heading {
  margin-top: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
}

.card__bookmark {
  height: 3em;
  position: absolute;
  top: -1.5em;
  right: 10%;
}

.card__bookmark:hover {
  height: 4em;
  position: absolute;
  top: -2em;
  right: 8%;
  cursor: pointer;
}

.card__bookmark--checked {
  content: url("../../assets/bookmark-black.png");
}

.card__answer--hidden {
  display: none;
}

.card__button {
  margin: 0 auto 0.5em auto;
}
