@import "../taglist/taglist.css";

.card {
  width: 80%;
  border: 1px solid black;
  border-radius: 1em;
  margin: 3em auto;
  padding: 1em;
  position: relative;
}

.card__heading {
  margin-top: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
}

.card__button {
  font-size: 1em;
  display: block;
  margin: 0 auto;
  border-radius: 1em;
}

.card__button:hover {
  background-color: #93c6d6;
}

.card__bookmark {
    height: 3em;
    position: absolute;
    top: -1.5em;
    right: 10%;
}
