.button {
  font-size: 1.2em;
  display: block;
  margin: 1em auto 1em auto;
  border-radius: 1em;
  border-color: var(--secondary-color-dark);
  padding: 0.3em 0.6em;
  background-color: var(--secondary-color);
  color: white;
}

.button:hover {
  background-color: var(--secondary-color-dark);
  cursor: pointer;
}
