<nav class="navigation">
  <ul class="navigation__menu">
    <li class="navigation__item navigation__item--highlighted">
      <a class="navigation__link" href=""
        ><img class="navigation__icon" src="../../assets/home.png" alt="Home"
      /></a>
    </li>
    <li class="navigation__item">
      <a class="navigation__link" href=""
        ><img
          class="navigation__icon"
          src="../../assets/bookmark.png"
          alt="Bookmarks"
      /></a>
    </li>
    <li class="navigation__item">
      <a class="navigation__link" href=""
        ><img class="navigation__icon" src="../../assets/plus.png" alt="Create"
      /></a>
    </li>
    <li class="navigation__item">
      <a class="navigation__link" href=""
        ><img
          class="navigation__icon"
          src="../../assets/profile.png"
          alt="Profile"
      /></a>
    </li>
  </ul>
</nav>
