<header></header>
<main>
  <section class="card page__card">
    <img
      class="card__bookmark"
      src="../../assets/bookmark-white.png"
      alt="Bookmarks"
    />
    <h2 class="card__heading">Question:</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit laboriosam
      inventore tempore accusantium odit sunt neque excepturi.
    </p>
    <button class="button card__button">Show answer</button>
    <p class="card__answer--hidden">
      Quibusdam et eligendi autem error ipsum hic perferendis magni, similique
      necessitatibus maxime quam.
    </p>
    <ul class="taglist">
      <li class="taglist__item">i am tag 1</li>
      <li class="taglist__item">i am tag 2</li>
      <li class="taglist__item">i am tag 3</li>
      <li class="taglist__item">i am tag 4</li>
      <li class="taglist__item">i am another tag</li>
    </ul>
  </section>
  <section class="card page__card">
    <img
      class="card__bookmark card__bookmark--checked"
      src="../../assets/bookmark-white.png"
      alt="Bookmarks"
    />
    <h2 class="card__heading">Question:</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit laboriosam
      inventore tempore accusantium odit sunt neque excepturi.
    </p>
    <button class="button card__button">Hide answer</button>
    <p>
      Quibusdam et eligendi autem error ipsum hic perferendis magni, similique
      necessitatibus maxime quam.
    </p>
    <ul class="taglist">
      <li class="taglist__item">i am tag 1</li>
      <li class="taglist__item">i am tag 2</li>
      <li class="taglist__item">i am tag 3</li>
      <li class="taglist__item">i am tag 4</li>
      <li class="taglist__item">i am another tag</li>
    </ul>
  </section>
  <section class="card page__card">
    <img
      class="card__bookmark card__bookmark--checked"
      src="../../assets/bookmark-white.png"
      alt="Bookmarks"
    />
    <h2 class="card__heading">Question:</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit laboriosam
      inventore tempore accusantium odit sunt neque excepturi.
    </p>
    <button class="button card__button">Show answer</button>
    <p class="card__answer--hidden">
      Quibusdam et eligendi autem error ipsum hic perferendis magni, similique
      necessitatibus maxime quam.
    </p>
    <ul class="taglist">
      <li class="taglist__item">i am tag 1</li>
      <li class="taglist__item">i am tag 2</li>
      <li class="taglist__item">i am tag 3</li>
      <li class="taglist__item">i am tag 4</li>
      <li class="taglist__item">i am another tag</li>
    </ul>
  </section>
  <section class="card page__card">
    <img
      class="card__bookmark"
      src="../../assets/bookmark-white.png"
      alt="Bookmarks"
    />
    <h2 class="card__heading">Question:</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit laboriosam
      inventore tempore accusantium odit sunt neque excepturi.
    </p>
    <button class="button card__button">Show answer</button>
    <p class="card__answer--hidden">
      Quibusdam et eligendi autem error ipsum hic perferendis magni, similique
      necessitatibus maxime quam.
    </p>
    <ul class="taglist">
      <li class="taglist__item">i am tag 1</li>
      <li class="taglist__item">i am tag 2</li>
      <li class="taglist__item">i am tag 3</li>
      <li class="taglist__item">i am tag 4</li>
      <li class="taglist__item">i am another tag</li>
    </ul>
  </section>
</main>
<footer></footer>
